{% extends 'base.html' %}
{% load static %}
{% block title %}
    تحویل کد
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<body class="container">
    <div class="mt-5">
        {% if request.user.is_authenticated %}
            <a href="{% url 'account:log out' %}" class="text-decoration-none text-secondary">خروج</a>
        {% else %}
            <a href="{% url 'account:log in' %}" class="text-decoration-none text-secondary">ورود</a><span class="mx-2">/</span>
            <a href="{% url 'account:register' %}" class="text-decoration-none text-secondary">ثبت نام</a>
        {% endif %}
        <i class="bi bi-person"></i>
    </div>
    <div class="row text-center form mx-auto mt-5" dir="rtl">
        {% if serial_number.code %}
            <input style="border: none" type="text" readonly value="{{ serial_number.code.code }}" id="myInput">
            <button onclick="copy()" class="btn btn-success rounded-3 mt-4 mb-4"> کپی کردن</button>
        {% else %}
            <h3 class="mt-4">کدی برای این شماره سریال ثبت نشده است !</h3>
            <a href="{% url 'account:main' %}"><input type="button" value="ثبت کد برای شماره سریال" class="btn btn-success rounded-3 mt-4 mb-4"></a>
        {% endif %}
    </div>
    <script type="text/javascript">
        function copy() {
            // Get the text field
            var copyText = document.getElementById("myInput");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            // Alert the copied text
            alert('کد مورد نظر کپی شد');
        }
    </script>
</body>
{% endblock %}
</html>