{% extends 'base.html' %}
{% load static %}
{% block title %}
    ثبت نام
{% endblock %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<body class="container">
    <div class="mt-5">
        <a href="main.html" class="text-decoration-none text-secondary">
            <i class="bi bi-caret-left-fill"></i>
            <p class="d-inline">صفحه اصلی</p>
        </a>
    </div>
    <div class="row text-center form mx-auto mt-5" dir="rtl">
        <form action="Post" class="form-group">
            <ul>
                <li class="list-unstyled ">
                    <i class="bi bi-person h5 mx-3"></i>
                    <input type="text" name="" placeholder="نام و نام خانوادگی"
                        class="rounded-pill mt-4 input form-control w-50 mx-auto d-inline">
                </li>
                <li class="list-unstyled">
                    <i class="bi bi-telephone h5 mx-3"></i>
                    <input type="text" name="" placeholder="شماره تلفن"
                        class="rounded-pill mt-4 input form-control w-50 mx-auto d-inline"><br>
                </li>
                <li class="list-unstyled">
                    <i class="bi bi-key h5 mx-3"></i>
                    <input type="password" name="" placeholder="رمز عبور"
                        class="rounded-pill mt-4 input form-control w-50 mx-auto d-inline"><br>
                </li>
            </ul>
            <input type="button" value="ثبت نام" class="btn btn-success rounded-3 mt-4 mb-4">
        </form>
    </div>
</body>
{% endblock %}
</html>