<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="../assets/CSS/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="container">
    <div class="mt-5">
        <a href="./login.html" class="text-decoration-none text-secondary">ورود</a><span class="mx-2">/</span>
        <a href="./register.html" class="text-decoration-none text-secondary">ثبت نام</a>
        <i class="bi bi-person"></i>
    </div>
    <div class="row text-center form mx-auto mt-5" dir="rtl">
        <form action="Post" class="form-group">
            <h1 class="mt-4">شماره سریال</h1>
            <input type="text" name="" class="rounded-pill mt-4 input form-control w-75 mx-auto">
            <h3 class="mt-4">تعداد روز</h3>
            <select name="time" class="form-select mt-4 w-25 mx-auto">
                <option value="یک ماه"> یک ماه</option>
                <option value="دو ماه"> دو ماه</option>
                <option value="سه ماه"> سه ماه</option>
                <option value="شش ماه"> شش ماه</option>
                <option value="یک سال"> یک سال</option>
            </select>
            <input type="button" value="تولید رمز" class="btn btn-success rounded-3 mt-4 mb-4">
        </form>
        <i class="bi bi-info-square mb-2 text-end info" data-bs-toggle="tooltip" data-bs-placement="left"
            title="loremipsum555555555555555555555555555555555"></i>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../assets/JS/main.js"></script>

</html>